@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: #ffffff;
    --background: #191919;
    --background-card: #232323;
    --primary : #f0004a;
    --secondary : #d5d5d5;
    --ternary : #6b6b6b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #191919;
    --background-card: #232323;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.bg-color {
  background: var(--primary);
  border: 1px solid #c5c5c5;
}

.bg-card {
  background: var(--background-card);
  border: 1px solid #353535;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.ternary {
  color: var(--ternary);
}

hr {
  height: 1px;
  background-color: var(--ternary);
  border: none;
}

.btn {
  background-color: var(--primary);
  border-radius: 5px;
  padding: 0px 15px;
  height: 32px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
